---
layout: default
group: home
---
{% include JB/setup %}
<div class="page-title-inline">
	{% if page.group == 'home' %}
	<h1>{{ site.title }} </h1>
	{% if site.tagline %}<h2>{{ site.tagline }}</h2>{% endif %}
	{% else %}
	<h1>{{ page.title }} </h1>
	{% if page.tagline %}<h2>{{ page.tagline }}</h2>{% endif %}
	{% endif %}
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 某站广告位 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9605836963704756"
     data-ad-slot="3418625025"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="cont932">
	<hr style="margin-top: 0;">
	<div id="journal-articles-block">
	{% for post in paginator.posts %}
		<div class="journal-article">
			<div class="journal-post-info">
				{% assign categories_list = post.categories %}
				{% assign category = categories_list.first %}
				{% include themes/Snail/category.html %}
				{% assign categories_list = nil %}
			</div>
			<div class="journal-body">
				<h1 class="journal-title"><a href="{{ post.url }}">{{ post.title }}</a><span class="author">{{ post.tagline }}</span></h1>
				{% case site.excerpt %}
				{% when "truncate_words" %}

				{% assign content-no-toc=post.content | split:'</div>' %}
				{% assign post_adstract="" %}
				{% for item in content-no-toc offset:2 %} 
					{% assign post_adstract=item|strip_html|prepend:post_adstract %}
				{% endfor %} 
			    <span class="teaser"><p>{{ post_adstract|truncate: 140 }} </p>
				{% when "teaser" %}
				<span class="teaser">{{ post.content  | split:'<!--more-->' | first }}
				{% endcase %}
				</span>
				<span class="readmore"><a href="{{ post.url }}">Read More</a></span>
			</div>
		</div>
		<div class="clearboth"></div>
		{% endfor %}
	</div>
	{% if paginator.next_page  %}
	<div id="journal-arrows-cont">
			<a href="{{ paginator.next_page_path }}" class="journal-arrow ja-forward"></a>
	</div>
	{% endif %}
	<div class="clearboth"></div>
	<div id="journal-loadmore">Load More…</div>
	<div class="clearboth"></div>
</div>
<div class="clearboth"></div>
